In [1]:
import pandas as pd

In [3]:
# 판다스의 데이터 프레임을 생산
names = ['Bob','Jessica','Mary','John','Mel']
births = [968, 155, 77, 578, 973]
custom = [1, 5, 25, 13, 23232]

BabyDataSet = list(zip(names,births))
df = pd.DataFrame(data = BabyDataSet, columns=['Names', 'Births'])

In [4]:
# 생성한 데이터 프레임의 상단 부분 출력
df.head()

     Names  Births
0      Bob     968
1  Jessica     155
2     Mary      77
3     John     578
4      Mel     973

In [5]:
# 데이터 프레임의 열 타입 정보를 출력
df.dtypes

Names     object
Births     int64
dtype: object

In [6]:
# 데이터 프레임의 인덱스 정보 출력
df.index

RangeIndex(start=0, stop=5, step=1)

In [7]:
# 데이터 프레임의 열의 형태 정보
df.columns

Index(['Names', 'Births'], dtype='object')

In [8]:
# 데이터 프레임에서 하나의 열을 선택
df['Names']

0        Bob
1    Jessica
2       Mary
3       John
4        Mel
Name: Names, dtype: object

In [9]:
# 1~3번째 인덱스를 선택
df[0:3]

     Names  Births
0      Bob     968
1  Jessica     155
2     Mary      77

In [10]:
# 조건을 추가하여 선택하기 : Births열이 100보다 큰 데이터를 선택
df[df['Births']>100]

     Names  Births
0      Bob     968
1  Jessica     155
3     John     578
4      Mel     973

In [11]:
# 데이터 프레임에서의 평균값을 계산
df.mean()

/opt/anaconda3/envs/DA/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

Births    550.2
dtype: float64